{% extends '../../base.html' %}

{% block title %} | 編輯用戶{% endblock title %}

    <!-- 大屏幕 -->
{% block content %}
    <div class="jumbotron">

        <h1 class="display-4"><i class="fas fa-light fa-user-plus"></i> 編輯用戶</h1>
        <p class="lead">我們的編輯使用者功能旨在幫助管理員管理和維護用戶賬號和權限。我們致力於提供一個用戶友好的界面，讓您快速、便捷地進行操作。無論是修改現有用戶信息，還是添加新用戶或調整權限，都能夠高效完成。</p>
        <hr class="my-4">
        <p>立即體驗我們的網路自動登錄系統，享受編輯使用者功能帶來的便利和靈活性！</p>
        <a class="btn btn-primary btn-lg" href="{% url 'u_create' %}" role="button">開始編輯用戶>></a>
    </div>
    
    <!-- 格線系統Grid System -->
    <div class="container">
        <div class="row">
          <div class="col">
            <h4><i class="fas fa-light fa-users"></i><strong> 編輯用戶</strong></h4>
            除了基本的用戶賬號管理，管理員還可以對用戶的權限進行調整。您可以分配或撤銷用戶的特定權限，確保他們只能訪問所需的功能和數據。並且，您還可以針對已經不在使用本系統之用戶進行修改，以確保用戶數據的準確。<br><br><br></div>
          
        </div>
      </div>
  
  
{% endblock content %}
</html>