{% extends '../base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
            <br>
            <h1 class="display-4"><i class="fas fa-light fa-laptop"></i> 輸入裝置資訊</h1>
            <br>
            <a class="btn btn-primary btn-lg" href="/DazhiNetwork/device_list/" role="button">查看所有裝置</a>
            <br>
            <form method="post" action="/select_device">
                <div class="form-group row">
                <label for="name" class="col-2 offset-1 col-form-label">名稱 =</label>
                <div class="col-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="device_name">
                    <small class="form-text">請輸入裝置的名稱</small>
                </div>
                </div>
                <div class="form-group row">
                <label for="model" class="col-2 offset-1 col-form-label">型號 =</label>
                <div class="col-3">
                    <input type="text" class="form-control" id="model" name="model" placeholder="model_name">
                    <small class="form-text">請輸入裝置的型號</small>
                </div>
                </div>
                <div class="form-group row">
                <label for="mac" class="col-2 offset-1 col-form-label">MAC位址 =</label>
                <div class="col-3">
                    <input type="text" class="form-control" id="mac" name="mac" placeholder="mac_address">
                    <small class="form-text">請輸入裝置的區域網路位址</small>
                </div>
            
                </div>
                
                <button type="submit" class="btn btn-primary">查詢裝置</button>
                <button type="submit" class="btn btn-primary">新增裝置</button>
                <button type="submit" class="btn btn-primary">刪除裝置</button>
                
            </form>
            </div>
        </div>
    </div>
{% endblock content %}