{% extends '../base.html' %}

{% block title %} | 首頁{% endblock title %}

{% block content %}

<!-- 大屏幕 -->
    <div class="jumbotron">

        <h1 class="display-4"><i class="fas fa-light fa-wifi"></i> 網路自動登入系統</h1>
        <p class="lead">歡迎來到我們的網路自動登入系統！我們為您帶來了一個方便、高效的解決方案，以簡化您的登錄和設備管理體驗 <i class="fas fa-light fa-smile-wink"></i></p>
        <hr class="my-4">
        <p>我們的系統不僅僅是一個簡單的登錄平臺，而是為您提供了便利和效率的工具，讓您的日常操作更加順暢。我們注重用戶隱私和數據安全，採取了適當的措施來保護您的個人信息和設備數據。</p>
        {% if user.is_authenticated %}
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">登入了解更多>></a>
        {% endif %}
    </div>
    
    <!-- 格線系統Grid System -->
    <div class="container">
        <div class="row">
          <div class="col">
            <h4><i class="fas fa-light fa-user"></i><strong> 作為用戶，</strong></h4>
            您可以輕鬆登錄並方便地記錄您手上的裝置。再也不用擔心忘記裝置的規格或遺失重要信息。通過我們的用戶界面，您可以一目瞭然地查看和管理您的裝置信息，隨時進行更新和維護。</div>
          <div class="col">
            <h4><i class="fas fa-light fa-user-tie"></i><strong> 作為管理員，</strong></h4>
            您可以通過管理員賬號和密碼快速登錄。一旦登錄成功，您將獲得對用戶和裝置的全面管理權限。您可以輕松地創建、編輯和刪除用戶帳號，確保系統的安全性和完整性。此外，您還可以查看和管理用戶的裝置信息，確保裝置數據的準確性和及時性。<br><br><br></div>
        </div>
      </div>

{% endblock content %}