{% extends '../base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
            <br>
            <h1 class="display-4"><i class="fas fa-light fa-users"></i> 輸入用戶資訊</h1>
            <br>
            <a class="btn btn-primary btn-lg" href="list2.html" role="button">查看所有用戶</a>
            <br>
            <form method="post" action="/select_user">
                <div class="form-group row">
                <label for="blongs" class="col-2 offset-1 col-form-label">所屬 =</label>
                <div class="col-3">
                    <input type="text" class="form-control" id="belongs" name="belongs" placeholder="user_belongs">
                    <small class="form-text">請輸入用戶的所屬單位</small>
                </div>
                </div>
                <div class="form-group row">
                <label for="id" class="col-2 offset-1 col-form-label">身分 =</label>
                <div class="col-3">
                    <input type="text" class="form-control" id="id" name="id" placeholder="identity">
                    <small class="form-text">請輸入用戶的身分</small>
                </div>
                </div>
                <div class="form-group row">
                <label for="uname" class="col-2 offset-1 col-form-label">名稱 =</label>
                <div class="col-3">
                    <input type="text" class="form-control" id="uname" name="uname" placeholder="name">
                    <small class="form-text">請輸入用戶的名稱</small>
                </div>
            
                </div>
                
                <button type="submit" class="btn btn-primary">查詢用戶</button>
                <button type="submit" class="btn btn-primary">新增用戶</button>
                <button type="submit" class="btn btn-primary">刪除用戶</button>
                
            </form>
            </div>
        </div>
    </div>
{% endblock content %}